<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/somaiya_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/somaiya_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SomaiyaClassroomBookingApp"
        tools:targetApi="31">
        <activity
            android:name=".bookingFailure"
            android:exported="false" />
        <activity
            android:name=".roomBooking"
            android:exported="false" />
        <activity
            android:name=".dbTest"
            android:exported="false" />
        <activity
            android:name=".adminBmgmt"
            android:exported="false" />
        <activity
            android:name=".homePageAdmin"
            android:exported="false" />
        <activity
            android:name=".dbFetchTest"
            android:exported="false" />
        <activity
            android:name=".roomMgmtFinal"
            android:exported="false" />
        <activity
            android:name=".roomMgmt"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".bookingFragment" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".bookingMgmt"
            android:exported="false" />
        <activity
            android:name=".bookSuccess"
            android:exported="false" />
        <activity
            android:name=".homePage"
            android:exported="false" />
        <activity
            android:name=".from1"
            android:exported="false" />
        <activity
            android:name=".loginF"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dataModel"
            android:exported="false" />
        <activity
            android:name=".bookingDemo"
            android:exported="false" />
        <activity
            android:name=".loginPage"
            android:exported="false" />
        <activity
            android:name=".getStarted3"
            android:exported="false" />
        <activity
            android:name=".getStarted2"
            android:exported="false" />
        <activity
            android:name=".userRoles"
            android:exported="false" />
        <activity
            android:name=".introSplash"
            android:exported="false" />
        <activity
            android:name=".getStarted"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".animationP"
            android:exported="false" />
        <activity
            android:name=".splashScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>